<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    
<h1>Listing Microposts</h1>
<hr>
  <% @microposts.each do |micropost| %>
    <div class="panel panel-default">
     <div class="panel-heading"><%= micropost.user.email %></div>
      <div class="panel-body">
        <%= micropost.content %>
        </div>
      <div class="panel-footer">
          <div class="right">
            <%= link_to 'Show', micropost %>
            <%= link_to 'Edit', edit_micropost_path(micropost) %>
            <%= link_to 'Destroy',  micropost,  method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      </div>
    </div>
    <% end %>

  <div class="col-lg-3"></div>
</div> 

